version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: xxxx
      MYSQL_DATABASE: ususarios_db
    ports:
      - "3306:3306"
    volumes:
      - ./init-data.sql:/docker-entrypoint-initdb.d/init-data.sql
